<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpvest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotipo_novo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logotipo_novo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EstudoActivity"/>
        <activity android:name=".ProvasActivity" />
        <activity android:name=".RedacaoActivity" />
        <activity android:name=".BibliotecaActivity" />
        <activity android:name=".EsqueceuSenhaActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EstudoSemana1Activity" />
        <activity android:name=".EstudoSemana2Activity" />
        <activity android:name=".EstudoSemana3Activity" />
        <activity android:name=".EstudoSemana4Activity" />


        <activity android:name=".MainActivity">
            <!-- TESTES E APRESENTAÇÃO SEM A PARTE DO LOGIN -->


        </activity>



        <activity android:name=".SplashActivity" >
            <!-- APP COMPLETO, INCLUINDO LOGIN -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>